/////////////*/
/*common styles*/
/*/////////////*/

@font-face {
    font-family: Cuprum;
    src: url(fonts/Cuprum/Cuprum-Regular.ttf);
   }

body {

    font-family: 'Cuprum';
    font-size: 17px;
    line-height: 18px;
    margin: 0;
    padding: 0; 
}

h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase; 
}

h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.popular-items h2,
.popular-brands h2,
.page-title h2 {
    color: #32425c;
    line-height: 30px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    outline: 2px solid #00ff00;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/*/////*/
/*index*/
/*/////*/

/*header*/

.main-header {
    min-height: 260px;
    width: 100%; 
    margin: 0 auto;
    padding-bottom: 60px; 
    background: #f1f5f7;
    outline: 2px solid #ccc;

    /*У ХЕДЕРА ПЛЫВЕТ ШИРИНА*/
}

.top-bar {
    height: 42px;
    margin-bottom: 0;
    outline: 2px solid #ff0000;
    background: #293449;
    color: #fff;
}

.logo-header {
    position: absolute;
    width: 220px;
}

.top-bar-search {
    float: left;
    width: 270px;
    height: 42px;
    margin-left: 220px;
    padding-left: 50px;
    background: #293449;
    font-family: 'Cuprum';
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    border: none;
}

.top-bar-search:focus {
    background: #fff;
    color: #000;
    outline: none;
}

.top-bar a {
    text-decoration: none;
    color: #fff;
}

.bookmarks {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 150px;
    height: 42px;
    padding-top: 12px;
    text-align: center;
}

.cart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 150px;
    height: 42px;
    padding-top: 12px;
    text-align: center;
}

.btn-checkout {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 150px;
    height: 42px;
    padding-top: 12px;
    background: #63a63c;
    text-align: center;
}

.cart:hover,
.bookmarks:hover {

}

.btn-checkout:hover {
    background: #5fbb2d;
}

.cart:active,
.bookmarks:active {
    background: #161d29;
}

.btn-checkout:active {
    background: #518534;
}

.cart:active a,
.bookmarks:active a,
.btn-checkout:active a{
    opacity: 0.6;
}

.middle-bar {
    min-height: 150px;
    margin-top: 10px;
    outline: 2px solid #ccc;
}

.middle-bar p {
    margin: 0;
    padding: 0;
}

.middle-bar .column {
    width: 300px;
    min-height: 150px;
    outline: 2px solid #ccc;
}

.middle-bar .column-left {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-top: 45px;
    padding-left: 53px;
    margin-right: 20px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

}

.middle-bar .column-middle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-top: 50px;

}

.column-middle span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 270px;
    height: 45px;
    padding-top: 8px;
    padding-left: 70px;
    margin: 0 auto;
    margin-bottom: 6px;
    border: 3px solid #fff;
    font-size: 21px;
    line-height: 24px;
    /*font-weight: bold;*/
    color: #e9292a;  
}

.column-middle p {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

.column-right {
    float: right;
    margin-right: 0;
}

.user-panel {
    width: 300px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    outline: 2px solid #f00;
}

.column-right a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    width: 120px;
    height: 45px;
    background: #fff;
    text-decoration: none;
    color: #000;
    font-size: 21px;
    line-height: 24px;
}

.column-right a:last-child {
    width: 150px;
}

.btn-login {
    padding-left: 30px;
    margin-right: 10px;
}

.nav-header {
    min-height: 60px;
    background: #32425c;
    outline: 2px solid #ccc;
    font-size: 0;
}

.nav-header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-header li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    border-bottom: 5px solid #293449; 
}

.nav-header li:nth-child(1) {
    width: 140px;
}

.nav-header li:nth-child(2) {
    width: 125px;
}

.nav-header li:nth-child(3) {
    width: 120px;
}

.nav-header li:nth-child(4) {
    width: 110px;
}

.nav-header li:nth-child(5) {
    width: 185px;
}

.nav-header li:nth-child(6) {
    width: 125px;
}

.nav-header li:nth-child(7) {
    width: 135px;
}

.nav-header li:hover {
    background: #293449;
}

.nav-header li:active {
    background: #1d2739;
}

.nav-header li:active a {
    opacity: 0.5;
}

.nav-header a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
}

/*main*/

.promo-block {
    min-height: 410px;
    padding-top: 60px;
    margin-bottom: 55px;
    outline: 2px solid #ccc;
}

.promo-block-left {
    width: 620px;
    margin-right: 20px;
    float: left;
}

.promo-block-right {
    width: 300px;
    float: right;
}

.promo-unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 300px;
    height: 123px;
    padding: 20px;
    padding-left: 23px;
    margin-bottom: 20px;
    color: #fff;
    outline: 2px solid #ccc;
    font-size: 24px;
    line-height: 30px;
}

.promo-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 135px;
    height: 38px;
    padding-top: 11px;
    margin-top: 17px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}

.promo-unit a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.promo-unit img {
    position: absolute;
    top: 25%;
    left: 190px;
}

.promo-unit .materials-icon {
    left: 210px;
}

.promo-unit .tools-icon {
    left: 200px;
}

.materials {
    background: #f6b22d; 
}

.tools {
    float: right;
    background: #4aafde;
}


.slider-page {
    position: relative;
    float: left;
    width: 620px;
    height: 266px;
    outline: 2px solid #0000ff;
}

.slider-page img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider-page p {
    position: absolute;
    color: #fff;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.slider-title {
    top: 23px;
    left: 25px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

.slider-subtitle {
    top: 63px;
    left: 25px;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 24px;
}

.slider-page-1 {

}

.slider-page-2 {
    display: none;
}

.machinery {
    background: #cc79d1;
}

.discounts {
    background: #85d179;
}

.delivery {
    background: #f6b22d;
}

.popular-items {
    margin-bottom: 20px;
    outline: 2px solid #ccc;
}

.btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    min-width: 195px;
    max-width: 300px;
    height: 38px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    background: #ee3643;
    border-radius: 3px;
}

.top-panel {
    min-height: 90px;
    outline: 2px solid #ccc;
    margin-bottom: 20px;
    background: #f7f3ec;
}

.top-panel h2 {
    float: left;
    margin: 0;
    margin-top: 30px;
    margin-left: 30px;
}

.top-panel a {
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

.popular-items-list {
    font-size: 0;
    margin-bottom: 10px;
    padding: 0;
}

.item {
    position: relative;
    display: inline-block;
    width: 218px;
    min-height: 316px;
    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: top;
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #e5e5e5;
}

.item:nth-child(1) {
    padding-top: 0;
    padding-bottom: 20px;
}

.item img {
    margin: 0 auto;
}

.item-controls {
    position: absolute;
    top: 190px;
    width: 100%;
}

.item p {
    max-width: 190px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.item span {
    color: #999;
    text-decoration: line-through;
}

.btn-buy {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 120px;
    height: 38px;
    padding: 12px 0;
    margin: 0 auto;
    margin-top: 11px;
    background: #ee3643;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    border-radius: 3px 0 0 3px;
}

.btn-buy::after {
    display: block;
    position: absolute;
    left: 120px;
    top: 0px;
    content: '';
    height: 0px;
    width: 0px;
    border: 19px solid #00ff00;
    border-left-color: #ee3643;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.item:last-child {
    margin-right: 0;
}

.item:last-child a {
    margin-top: 45px;
}

.popular-brands {
    min-height: 420px;
    margin-bottom: 85px;
    outline: 2px solid #ccc;
}

.popular-brands-list {
    font-size: 0;
}

.brand-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 218px;
    height: 143px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.brand-item:nth-child(4n) {
    margin-right: 0;
}

.brand-item:nth-child(n+4) {
    margin-bottom: 0;
}

.brand-item img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.services {
    padding-top: 65px;
    min-height: 520px;
    margin-bottom: 80px;
    background: #f2f6f8;
    outline: 2px solid #ccc;
}

.services h2 {
    margin-bottom: 35px;
}

.services p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 70px;
}

.services-main-block {
    outline: 2px solid #f00;
}

.services-selector {
    float: left;
    width: 240px;
    height: 180px;
    margin-right: 80px;
    outline: 2px solid #ccc;
}

.services-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #32425c;
}

.services-selector li {
    height: 43px;
    padding-top: 15px;
    padding-left: 20px;
    color: #fff;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.services-selector label {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.services-info {
    position: relative;
    float: left;
    width: 620px;
    min-height: 280px;
    margin: 0;
    outline: 2px solid #00f;
    background-image: 
}

.services-info h1 {
    margin: 0;
    margin-bottom: 35px;
}

.services-info img{
    position: absolute;
    top: 0;
    left: 155px;
}

.info-delivery {
    display: none;
}

.info-warranty {
    display: none;
}

.info-warranty img{
    left: 240px;
}

.info-credit {
    display: block;
}

.info-credit p {
    margin-bottom: 30px;
}

.info-credit img{
    left: 180px;
}

.info-credit .btn-request {
    width: 195px;
}

.company-info {
    min-height: 375px;
    padding-top: 80px;
    outline: 2px solid #ccc;
}

.description {
    float: left;
    width: 540px;
}

.company-info h2 {
    margin: 0;
    padding: 0;
}

.company-info p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 20px;
}

.company-info ul {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}

.company-info li {
    position: relative;
    padding-bottom: 20px;
}

.company-info li::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: -40px;    
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.contacts {
    float: right;
    width: 300px;
}

.contacts p {
    margin-bottom: 30px;
}

.contacts img {
    margin-bottom: 35px;
}

/*footer*/

.main-footer {
    min-height: 300px;
    margin-top: 85px;
    background: #32425c;
    color: #fff;
    outline: 2px solid #ccc;
}

.footer-top-left {
    position: absolute;
    float: left;
    width: 380px;
    min-height: 190px;
    outline: 2px solid #ff0000;
}

.logo-footer {
    position: absolute;
}

.footer-top-left p {
    margin-top: 95px;
    font-size: 18px;
    line-height: 24px;
}

.footer-top-right {
    float: right;
    width: 550px;
    min-height: 190px;
    outline: 2px solid #ff0000;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.navigation li {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 45px;
    padding-top: 40px;
    text-align: center;
}

.navigation li:hover {
    text-decoration: underline;
}

.navigation a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.nav-footer-2 .navigation {
    margin-left: 50px;
}

.nav-footer-2 .navigation li {
    padding-top: 20px;
}

.nav-footer-2 .navigation a {
    color: #ffd180;
}

.nav-footer-2 .navigation li:last-child {
    width: 170px;
}


.footer-bottom {
    min-height: 105px;
    padding-top: 35px;
    background: #293449;
    outline: 2px solid #00ff00;
}

.footer-bottom section {
    min-height: 105px;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom .copyright {
    float: left;
    width: 320px;
    margin-right: 60px;
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom .social {
    float: left;
    width: 230px;
}

.social a {
    text-decoration: none;
    font-size: 0;
}

.social-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
}


.footer-bottom .feedback {
    float: right;
    width: 300px;
}

.feedback {
    font-size: 0;
}

.feedback p {
    display: inline-block;
}

.feedback p:first-child {
    margin-right: 50px;
}

.feedback a {
    color: #ffd180;
    text-decoration: none;
}

/*///////*/
/*catalog*/
/*///////

